/* pages/join_class/join_class.wxml.wxss */
.text_2{
    top: 175px;
    left: 100px;
    font-weight: bold;
    color: black;  /* 设置文字为白色 */
    position: absolute;
    font-size: 35px;  /* 设置文字大小与图片的高度一致 */
    margin-left: 40px;  /* 图片和文字之间的间距 */
}